<div class='row'>
  <div class='col-md-8' ng-include="'/templates/desktop/home.slider.html'" data-onload="get('spotlight', 5)" ng-controller='HomeCategoryCtrl'></div>
  <div class='col-md-4'>
    <center><img src='/img/cid/issue.png' class="img-responsive" /></center>
  </div>
</div>

<div class='row row-eq-height'>
  <div class='col-md-8 row-eq-height' ng-include="'/templates/desktop/home.category.html'" data-onload="get('business', 2)" ng-controller='HomeCategoryCtrl'></div>
  <div class='col-md-4 row-eq-height' ng-include="'/templates/desktop/home.category.html'" data-onload="get('policy', 1)" ng-controller='HomeCategoryCtrl'></div>
</div>

<div class='row'>
  <div class='col-md-12 section-separator'></div>
</div>

<div class='row'>
  <div class='col-md-4' ng-repeat="slug in ['industry', 'internet', 'society']" ng-include="'/templates/desktop/home.category.html'" data-onload="get(slug, 3)" ng-controller='HomeCategoryCtrl'></div>
</div>

<div class='row'>
  <div class='col-md-12 section-separator'></div>
</div>

<div class='row'>
  <div class='col-md-4'>
    <center><img src='/img/cid/ad2.png' class="img-responsive" /></center>
  </div>
  <div class='col-md-8'>
    <center class='cid-ad-grey'><img src='/img/cid/ad1.png' class="img-responsive" /></center>
  </div>
</div>

<div class='row'>
  <div class='col-md-12 section-separator'></div>
</div>

<div class='row'>
  <div class='col-md-12' ng-include="'/templates/desktop/home.category.html'" data-onload="get('column', 4)" ng-controller='HomeCategoryCtrl'></div>
</div>

<div class='row'>
  <div class='col-md-12 section-separator'></div>
</div>

<div class='row row-eq-height'>
  <div class='col-md-6 row-eq-height' ng-repeat="slug in ['oneroadonebelt', 'environment']" ng-include="'/templates/desktop/home.category.html'" data-onload="get(slug, 1)" ng-controller='HomeCategoryCtrl'></div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12 section-separator'></div>
</div>

<div class='row row-eq-height'>
  <div class='col-md-4 row-eq-height' ng-include="'/templates/desktop/home.category.html'" data-onload="get('culture', 2)" ng-controller='HomeCategoryCtrl'></div>
  <div class='col-md-8 row-eq-height' ng-include="'/templates/desktop/home.category.html'" data-onload="get('travel', 10)" ng-controller='HomeCategoryCtrl'></div>
  
</div>

<hr>

<div class='row'>
  <div class="col-md-2"><h2>Partners:</h2></div>
  <div class="col-md-10">
    <img ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]" ng-src="/img/cid/partner-{{i}}.png" class="logo-partner" />
  </div>
</div>
