<div ng-controller="NavCtrl as nav">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">Home</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-repeat="category in categories |  filter:{navbar: true}:true  ">
            <a href="#/category/{{category.slug}}">{{category.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

