<div class="container-fluid">
  <div class="row cid-header">
    <div class='col-md-4'>
      <center></center>
    </div>
    
    <div class='col-md-4'>
      <center><a ui-sref="home"><img src='/img/cid/cid-logo.png'></a></center>
    </div>
    
    <div class='col-md-4'>
      <center></center>
    </div>
  </div>
</div>


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" ng-controller="CategoriesCtrl">
          <li ng-class="{ active: isActive('/category/{{category.slug}}')}" ng-repeat="category in categories |  toArray | filter:{navbar: true}:true  ">
            <a href="#/category/{{category.slug}}">{{category.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

