a {
  color: #000;
}

.cid-ad-grey {
  background: #dadbdb;
}

.home-block {
  width:100%;
}

.home-block p {
  margin-bottom:2px;
}

.home-block h2 {
  line-height: 30px;
}

.home-block .home-post-author, .home-block .home-post-published{
  font-style: italic;
  color: #9fa0a0;
}

.home-block-column .home-post-author {
  font-style: normal;
  font-size: 15px;
}

.home-block-column .home-post-group {
  margin-left: 95px;
}

.home-block-column .home-block-contents {
  padding-right: 20px;
}

.home-block-oneroadonebelt .home-block-contents, .home-block-environment .home-block-contents {
  padding-bottom: 10px;
}

.home-block-oneroadonebelt .home-block-contents .img-featured, .home-block-environment .home-block-contents .img-featured {
  margin-top:20px;
}

.home-block-column .home-post-author:before {
  content: " ";
  display: inline-block;
  width: 29px;
  height: 16px;
  background: url('/img/cid/twitter-icon.png');
}

.home-block-reverse .home-post-author, .home-block-reverse .home-post-published {
  color: #fff;
}
  

.home-post-summary {
  
}

.home-block-business .category-color {
  color: #e60012;
}

.home-block-industry .category-color {
  color: #009cbf;
}

.home-block-internet .category-color {
  color: #4ab134;
}

.home-block-society .category-color {
  color: #9c0183;
}

.home-block-column .category-color {
  color:#5cc2cf;
}

.home-block-culture .category-color {
  color:#a9cf52;
}

.home-block-travel .category-color {
  color:#9c0183;
}


.home-block-border, .home-block-reverse, .home-block-column {
  padding: 10px 20px 20px 20px;
}

.home-block-border {
  border: #fff solid 1px;
}

.home-block-column {
  padding-right: 0px;
  background-image: url('/img/cid/column-bg.png');
}

.home-block-reverse {
  color: #fff;
}

.home-block-reverse .category-color {
  color: #000;
}

.home-block-reverse h2.category-color, .home-block-reverse h3 a {
  color: #fff;
}

.home-block-business {
  border-color: #f08300;
  background: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.home-block-policy {
  border: #f08300 solid 1px;
  background: #f08300;
  margin-top: 0;
  margin-bottom: 0;;
}



.home-block-oneroadonebelt {
  margin-top: 0;
  margin-bottom: 0;
  border: #5cc2cf solid 1px;
  background: #5cc2cf;
}

.home-block-environment {
  margin-top: 0;
  margin-bottom: 0;
  border: #68be83 solid 1px;
  background: #68be83;

}

.home-post-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.home-post-item {
  position: relative;
  display: block;
  padding: 10px 0px;
  margin-bottom: -1px;
}
.home-post-item:first-child {
  padding: 0px;
}
.home-post-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
.section-separator {
  height: 50px;
}
}

@media (max-width: 992px) {
  .home-block {
    margin: 20px 0;
  }
}
